@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300&display=swap');

html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #011F26;
    font-family: Arial, Helvetica, sans-serif;
}

/* CABEÇALHO DO SITE */

header {
    background-color: #032612;
    margin: 0%;
    padding: 20px;
    text-align: center;
}


header h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 0%;
    padding: 20px;
    text-shadow: 3px 3px 3px black;
}
/* MENU NAV */

nav {
    background-color: #027368;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    padding: 5px 10px 0px 10px;
    box-shadow: 0px 2px 10px black;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: #032612;
    color: white;
    padding: 5px 10px 0px 10px;
}

nav a:hover {
    background-color: #032612;
    color: white;
}

/* CORPO DO SITE */

main {
    max-width: 820px;
    max-height: 100%;
    margin: 50px auto;
    text-align: center;
    color: white;
}

main#social {
    max-width: 300px;
    max-height: 100%;
    margin: 50px auto;
    text-align: center;
    color: white;
}


/* DIV DE REDES SOCIAIS */

.mycontainer{
    display: flex;
    margin:15px;
    max-height: 100%;
    background-color: #032612;
    font-size: 15px;
}

.mycontainer:hover {
    background-color: #5C7373;
}

.link-url {
    width: 100px;
    height: 20px;
    text-align: center;
    padding-left: 40px;
    padding-top: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div {
    display: block;
    border: none;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 2px 10px black;
    
}

div.body-content{
    /** Essa margem vai evitar que o conteudo fique por baixo do rodapé **/
    margin-bottom: 40px;
  }
  

/* RODAPÉ DO SITE */

footer {
    background-color: #5C7373;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    padding: 5px;
    margin: 0%;
    padding-top: 10px;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #034001;
}

footer a:hover {
    color: #00ffff;
}

footer.fixar-rodape {
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    padding: 0px;
}
.corrigir {
    height: 50px;
    box-shadow: none;

}